.information{
  position: absolute;
  width: 400px;
  padding : 10px 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  min-height: 43px;
}

.information .zavod-title{
  color:#006768;
}
.close{
  display: inline-block;
  position: absolute;
  right: 10px;
  top:10px;
  width: 24px;
  height: 24px;
  background: url(../icons/close.png) no-repeat;
  cursor: pointer;
}
.russia-region{
  fill: #cfcfcf;
}